* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.content {
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecececcc;
}

.content--header {
    padding: 90px 50px 45px;
    margin: 0px 100px;
}

.header--divisor-title {
    border: none;
    height: 2px;
    width: 500px;
    margin-top: 10px;
    background-color: #000;
}

.content--body {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: linear-gradient( 13deg, #5ce1e6, #537bfc );
    width: 100vw;
    padding-bottom: 50px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.body--data-user-col,
.body--data-report-card-col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1520px) {
    .content--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body--data-user-col,
    .body--data-report-card-col {
        padding-bottom: 25px
    }
}

@media (max-width: 650px) {
    .header--divisor-title {
        border: none;
        height: 2px;
        width: 250px;
        margin-top: 10px;
        background-color: #000;
    }

    .content--header {
        padding: 90px 20px 45px;
        margin: 0px 100px;
    }
}