* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.content {
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    overflow: auto;
}

.content--lists {
    display: flex;
}

.lists--addList {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    width: 300px;
    padding: 50px;
    margin: 10px;
    font-size: 20px;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none   ;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.lists--addList:hover,
.lists--addList:focus {
    background-color: #efefef;
    color: #777;
    border-color: #777;
}

.modal {
    position: absolute;
    width: 25vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #FFF;
    border-radius: 3px;
    display: none;
}

.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a6;
    display: none;
}