* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.content {
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    overflow: auto;
}

.content--lists {
    display: flex;
}

.lists--addList {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    width: 300px;
    padding: 50px;
    margin: 10px;
    font-size: 20px;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none   ;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.lists--addList:hover,
.lists--addList:focus {
    background-color: #efefef;
    color: #777;
    border-color: #777;
}

.modal,
.modal-task,
.modal-mensagem {
    position: absolute;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #FFF;
    border-radius: 3px;
    display: none;
    transition: all ease 0.5s;
}

.modal > .close,
.modal-task > .close {
    margin: 5px 5px;
    text-align: end;
}

.modal-task > .close > svg,
.modal > .close > svg {
    cursor: pointer;
}

.modal-mask,
.modal-task-mask,
.modal-mensagem-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a6;
    display: none;
    transition: all ease 0.5s;
}

#formCadLista, 
#formEditLista {
    width: 100%;
    height: 150px;
    padding: 0px 15px;
    display: none;
}

#formCadTask,  
#formEditTask {
    width: 100%;
    height: 310px;
    padding: 0px 15px;
    display: none;
}

#formCadLista > label,
#formCadTask > label,
#formEditLista > label,
#formEditTask > label {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

#formCadLista > input[type=text],
#formCadTask > input[type=text],
#formEditLista > input[type=text],
#formEditTask > input[type=text] {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    color: #000;
    transition: all ease 0.3s;
}

#formCadLista > input[type=text]:focus,
#formCadTask > input[type=text]:focus,
#formEditLista > input[type=text]:focus,
#formEditTask > input[type=text]:focus {
    outline-color: #6584da;
    transform: scale(1.01);
}

#formCadTask > textarea,
#formEditTask > textarea {
    resize: none;
    width: 100%;
    height: 110px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    color: #000;
    transition: all ease 0.3s;
}

#formCadTask > textarea:focus,
#formEditTask > textarea:focus {
    outline-color: #6584da;
    transform: scale(1.01);
}

#formCadLista > input[type=submit],
#formCadTask > input[type=submit],
#formEditLista > input[type=submit],
#formEditTask > input[type=submit] {
    width: 100%;
    padding: 6px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #0fbb34;
    border: 2px solid #0fbb34;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    transition: all ease 0.3s;
    outline: none;
}

#formCadLista > input[type=submit]:hover, 
#formCadTask > input[type=submit]:hover, 
#formCadLista > input[type=submit]:focus,
#formCadTask > input[type=submit]:focus,
#formEditLista > input[type=submit]:hover, 
#formEditTask > input[type=submit]:hover, 
#formEditLista > input[type=submit]:focus,
#formEditTask > input[type=submit]:focus {
    background-color: #06a829;
    border-color: #06a829;
    color: #FFF;
}

#formCadLista > .removeItem,
#formCadTask > .removeItem,
#formEditLista > .removeItem,
#formEditTask > .removeItem {
    width: 100%;
    padding: 6px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #fd1c1c;
    border: 2px solid #fd1c1c;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    transition: all ease 0.3s;
    outline: none;
}

#formCadLista > .removeItem:hover,
#formCadTask > .removeItem:hover,
#formCadLista > .removeItem:focus,
#formCadTask > .removeItem:focus,
#formEditLista > .removeItem:hover,
#formEditTask > .removeItem:hover,
#formEditLista > .removeItem:focus,
#formEditTask > .removeItem:focus {
    background-color: #ec3a3a;
    border: 2px solid #ec3a3a;
    color: #FFF;
}

.modal-mensagem--icone {
    text-align: center;
    font-size: 100px;
    margin: 20px 0px 0px 0px;
    display: none;
}

.modal-mensagem--icone.show {
    display: block;
}

.modal-mensagem--mensagem {
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

@media (max-width: 1180px) {
    .modal,
    .modal-task,
    .modal-mensagem {
        width: 40vw;
    }
}

@media (max-width: 720px) {
    .modal,
    .modal-task,
    .modal-mensagem {
        width: 50vw;
    }
}

@media (max-width: 550px) {
    .modal,
    .modal-task,
    .modal-mensagem {
        width: 70vw;
    }
}